body {
  background-image: url("images/background.jpg");
  background-size: cover;
}

.player-window {
  display: inline-block;
  height: 100%;
  width: 30%;
  margin-right: 40px;
  background-color: white;
  border-radius: 0.5em;
}

.player-selection-row {
  height: 80vh;
  text-align: center;
}

.top-row {
   height: 10vh;
}

.bottom-row {
   height: 10vh;
}

.selector {
  width: 100%;
}

.player-photo {
  height: 40px;
}

.player-photo img{
  height: 50%;
}
